/* TODO: Later want to change background image based on button hover, to give preview */
/* TODO: better page animation */
/* TODO: flexbox model */
/* header goes up, new header comes in from top, main slides in from side?? */
/* TODO add vcard download */

html {
  box-sizing: border-box;
  /*-webkit-font-smoothing: antialiased;*/
}

html, body {
    height: 100%;
    font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #621AFF;
    text-rendering: optimizeLegibility;
    cursor: auto;
}

div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
}

.page {
    bottom:0; 
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}

.row {
    margin: 0 auto;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

#header {
    background-color: #FFFEF8;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#header h1 {
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    text-align: center;
    color: #718680;
    padding: 5% 10%;
    width: 80%;
    margin: 0 auto;
    font-size: 2.75rem;
    line-height: 1.4;
}

/*red*/
#projects {
    background-color: #FF002D;
}

/*yellow*/
#resume {
    background-color: #FFDB00;
}

/*green*/
#blog {
    background-color: #00FFB2;
}

.nav-button {
    height: 90px;
    width: 150px;
    line-height: 90px;
    padding: 0px;
    margin: 30px 20px;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    text-shadow: 0px 0px 6px rgba(60,60,60,0.7);
    text-decoration: none;
    border-radius: 1000px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 250ms ease;
}

.nav-button:hover {
    height: 150px;
    line-height: 150px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(-5px);
    transition: all 250ms ease;
}

.nav-button:active {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.94);
    transition: all 100ms ease;
}

.page-loaded.ng-enter {
    z-index: 8888;
    -webkit-animation: slideInRight 0.5s both ease-in;
    -o-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}
.page-loaded.ng-leave {
    z-index: 9999;
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -o-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

@keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

#button-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 756px) {
    .nav-button {
        height: 60px;
        width: 100px;
        line-height: 60px;
        margin: 10px;
    }

    .nav-button:hover {
        height: 100px;
        line-height: 100px;

    }
}
